body{
  width:968px;
  text-align:center;
  background-color:#222222;
  font-family: 'Alegreya', serif;
  color:white;
}

.container{
  width:100%;
}

.game-board{
  height:500px;
  width:500px;
  margin: 0 auto;
  background-color:#7D7B7B;
}

.game-piece{
  padding:1px;
  height:32%;
  width:32%;
  display:inline-block;
  border: 2px solid white;
}

.souwei{
  background-image:url("images/cactuar.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.souwei2{
  background-image:url("images/chocobo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header h1{
  font-size: 'x-large';
  color:white;
}

header, .game-messages{
  border: 2px solid white;
  text-align:center;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0205cc+0,0a40d6+0,03166d+100 */

 background: #0205cc;
 /* Old browsers */

 background: -moz-linear-gradient(top, #0205cc 0%, #0a40d6 0%, #03166d 100%);
 /* FF3.6+ */

 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0205cc), color-stop(0%, #0a40d6), color-stop(100%, #03166d));
 /* Chrome,Safari4+ */

 background: -webkit-linear-gradient(top, #0205cc 0%, #0a40d6 0%, #03166d 100%);
 /* Chrome10+,Safari5.1+ */

 background: -o-linear-gradient(top, #0205cc 0%, #0a40d6 0%, #03166d 100%);
 /* Opera 11.10+ */

 background: -ms-linear-gradient(top, #0205cc 0%, #0a40d6 0%, #03166d 100%);
 /* IE10+ */

 background: linear-gradient(to bottom, #0205cc 0%, #0a40d6 0%, #03166d 100%);
 /* W3C */

 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0205cc', endColorstr='#03166d', GradientType=0);
 /* IE6-9 */

 border-radius: 10px;
}
.game-message-interactive p{
  width:350px;
  height:130px;
  font-size: larger;
  float:left;
  padding-left:0;
  text-align:left;
}
.game-message-interactive img{
  width:180px;
  height:160px;
  float:left;
  padding-right:0;
}

.game-message-interactive{
  width: 600px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 2px;
  background-color:#7D7B7B;
  font-family: 'VT323', monospace;
  font-size:x-large;
}
.game-messages{
  height: 250px;
}
